{{ define "login.html" }}
<div class="auth-wrapper mx-auto" style="max-width: 400px;">
    {{ $flash := .Flash }}
    {{ if $flash }}
        <div class="alert alert-warning">{{ $flash }}</div>
    {{ end }}

    <form method="POST" action="/login" class="w-100">
        <div class="mb-4 text-center">
            <h2>Вход</h2>
        </div>

        <div class="mb-3">
            <label class="form-label w-100">
                Email:
                <input type="email" class="form-control w-100" name="email" required value="{{ index .FormValues "Email" }}">
            </label>
            {{ with index .FormErrors "Email" }}
                <div class="text-danger w-100 small">{{ . }}</div>
            {{ end }}
        </div>

        <div class="mb-4">
            <label class="form-label w-100">
                Пароль:
                <input type="password" class="form-control w-100" name="password" required>
            </label>
            {{ with index .FormErrors "Password" }}
                <div class="text-danger w-100 small">{{ . }}</div>
            {{ end }}
        </div>

        <button class="btn btn-primary w-100" type="submit">Войти</button>
    </form>
</div>
{{ end }}
