{{ define "login.html" }}
<div class="auth-wrapper">
{{ $flash := .Flash }}
{{ if $flash }}
    <div class="alert alert-warning">{{ $flash }}</div>
{{ end }}

{{ if .Error }}<div class="text-danger mb-2">{{ .Error }}</div>{{ end }}
<form method="POST" action="/login">
    <div class="mb-3">
        <h2 class="text-center">Вход</h2>
    </div>
    <div class="mb-3">
        <label class="form-label">Email:
            <input type="email" class="form-control" name="email" required>
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль:
            <input type="password" class="form-control" name="password" required>
        </label>
    </div>
    <button class="btn btn-primary w-100" type="submit">Войти</button>
</form>
</div>
{{ end }} 